.MoneyRecords-container {
  margin-top: 40px;
}

.MoneyRecords-list {
  margin: 0;
  padding: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@media (max-width: 420px) {
  .MoneyRecords-container {
    margin-top: 20px;
  }

  .MoneyRecords-list {
    border: 0;
  }
}
