.MoneyNewRecord-container {
  margin-top: 20px;
}

.MoneyNewRecord-footer {
  margin: 30px 0 0 160px;
  height: 22px;
  font-size: 14px;
}

.MoneyNewRecord-error {
  margin-left: 30px;
  font-size: 14px;
}

@media (max-width: 420px) {
  .MoneyNewRecord-footer {
    display: flex;
    margin: 20px 20px 0 20px;
    height: auto;
  }

  .MoneyNewRecord-error {
    margin-top: 8px;
  }
}
